busa/busa-servicio/src/wsdl/schema0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="procesaPeticion"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="iXML" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="procesaPeticionResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="procesaPeticionResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>